@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>Portfolyo</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Gallery Area Start -->
    <div class="gallery-area section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-9 col-sm-10">
                    <div class="section-tittle text-center mb-100">
                        <span>our image gellary</span>
                        <h2>KUAFÖR SALONUMUZDAN BAZI FOTOĞRAFLAR</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img">
                            <img src="~/assets/img/gallery/gallery1.png" alt="Gallery Image 1">
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img">
                            <img src="~/assets/img/gallery/gallery2.png" alt="Gallery Image 2">
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img">
                            <img src="~/assets/img/gallery/gallery3.png" alt="Gallery Image 3">
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="box snake mb-30">
                        <div class="gallery-img">
                            <img src="~/assets/img/gallery/gallery4.png" alt="Gallery Image 4">
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Gallery Area End -->
</main>
